.SignIn {
    margin: 60px;
}

.SignIn input {
    display: block;
    margin: 10px auto;
    width: 30%;
    height: 40px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.SignIn input:focus{
    outline: none;
}

.SignIn button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #182C61;
    border: none;
    cursor: pointer;
    transition: all .2s;
    border-radius: 30px;
    color: white;
}

.SignIn button:hover {
    background-color: #192da0;
}

.SignIn button:focus {
    outline: none;
}

.Lop {
    margin: 20px auto;
    width: 25%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
