.Back {
    margin-top: 20px;
    width: 450px;
}

.Error {
    color: #c20000;
}

.Centre {
    margin: 250px 800px;
}

.SignIn {
    margin: 60px;
}

.SignIn input {
    display: block;
    margin: 20px auto;
    width: 40%;
    height: 50px;
    padding-left: 5px;
    border: 3px solid #09814a;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px #dbdbdb;
    font-size: 17px;
    color: #2e2e2e;
}

.SignIn input:focus{
    outline: none;
}

.SignIn input::placeholder {
    color: #2e2e2e;
}

.SignIn button {
    margin-top: 20px;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #2d4739;
    border: none;
    cursor: pointer;
    transition: all .2s;
    border-radius: 8px;
    color: #bcb382;
}

.SignIn button:hover {
    color: #e5c687;
}

.SignIn button:focus {
    outline: none;
}
