.List {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 15px auto;
}

.ListItem {
    margin: 10px;
    font-size: 15px;
    list-style: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #09814a;
    color: white;
}
