.Me {
    width: 35%;
    margin: 30px 250px 0 0;
    clip-path: circle(160px at 68% 45%);
}
.Intro {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}

.Skills {
    display: flex;
    justify-content: center;
}

.Skills li {
    list-style: none;
    margin: 20px;
}

.Social {
    display: flex;
    justify-content: center;
}

.Social li {
    list-style: none;
    margin: 20px;
}

.Social img {
    width: 50px;
}
