.About {
    margin: 100px auto;
}

.Content {
    margin: 0 300px 60px 300px;
    padding: 40px;
}

.React {
    font-size: 23px;
}

.React a {
    text-decoration: none;
    color: #61DBFB;
    transition: all .2s;
}

.React a:hover {
    color: #4d7c9a;
}

.Laravel {
    font-size: 23px;
}

.Laravel a {
    text-decoration: none;
    color: #F05340;
    transition: all .2s;
}

.Laravel a:hover {
    color: #90382a;
}

.Mobx {
    font-size: 23px;
}

.Mobx a {
    text-decoration: none;
    color: #025193;
    transition: all .2s;
}

.Mobx a:hover {
    color: #021c37;
}

.Omdb {
    font-size: 23px;
}

.Omdb a {
    text-decoration: none;
    color: #333333;
    transition: all .2s;
}

.Omdb a:hover {
    color: #191919;
}

.Content p {
    line-height: 1.5;
    font-size: 20px;
}

.Image {
    width: 400px;
}
