.Navigation {
    background-color: #182C61;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.LeftNav {
    display: flex;
}

.LeftNav li {
    list-style: none;
    margin: 25px;
}

.LeftNav li a {
    text-decoration: none;
    color: #F27B69;
}

.RightNav {
    display: flex;
}

.RightNav li {
    list-style: none;
    margin: 25px;
}

.RightNav li a {
    text-decoration: none;
    color: #F27B69;
}


