.Navigation {
    background-color: #2d4739;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.LeftNav {
    display: flex;
}

.LeftNav li {
    list-style: none;
    margin: 25px;
}

.LeftNav li a {
    text-decoration: none;
    color: #bcb382;
    transition: all .2s;
}

.LeftNav li a:hover {
    text-decoration: none;
    color: #e5c687;
}

.RightNav {
    display: flex;
}

.RightNav li {
    list-style: none;
    margin: 25px;
    color: #bcb382;
    cursor: pointer;
}

.RightNav li:hover {
    list-style: none;
    margin: 25px;
    color: #e5c687;
    cursor: pointer;
}

.RightNav li a {
    text-decoration: none;
    color: #bcb382;
}

.RightNav li a:hover {
    text-decoration: none;
    color: #e5c687;
}


