.TotalList {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    flex: 0 1 25%;
}

.Head {
    font-size: 20px;
    margin-bottom: 10px;
}

.Detail {
    padding: 10px;
    background-color: rgba(188, 179, 130, 0.25);
}

.Last {
    margin-left: 30px;
}

.Photo {
    width: 150px;
}

.Del {
    margin-top: 20px;
    font-size: 25px;
    padding: 5px 10px;
    background-color: #2d4739;
    border: none;
    cursor: pointer;
    transition: all .2s;
    border-radius: 8px;
    color: #bcb382;
}

.Del:hover {
    color: #e5c687;
}
