.Content {
    margin-top: 80px;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
}

.Error {
    color: indianred;
}

.Search {
    width: 400px;
    margin-left: 500px;
}

.LeftItem {
    margin-left: 500px;
}

.Dashboard {
    margin-left: -500px;
    position: fixed;
}

.Dashboard input {
    display: block;
    margin: 20px auto;
    width: 550px;
    height: 50px;
    padding-left: 5px;
    border: 3px solid #09814a;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px #dbdbdb;
    font-size: 17px;
    color: #2e2e2e;
}

.Dashboard input:focus{
    outline: none;
}

.Dashboard input::placeholder {
    color: #2e2e2e;
}

.Dashboard button {
    margin-top: 20px;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #2d4739;
    border: none;
    cursor: pointer;
    transition: all .2s;
    border-radius: 8px;
    color: #bcb382;
}

.Dashboard button:hover {
    color: #e5c687;
}

.Dashboard button:focus {
    outline: none;
}
