.Content {
    margin-top: 100px;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
}

.Search {
    width: 400px;
    margin-left: 700px;
}

.LeftItem {
    margin-left: 700px;
}

.Dashboard {
    margin-left: -500px;
    position: fixed;
}

.Dashboard input {
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 500px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.Dashboard input:focus{
    outline: none;
}

.Dashboard button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #2d4739;
    border: none;
    cursor: pointer;
    transition: all .2s;
    border-radius: 8px;
    color: #bcb382;
}

.Dashboard button:hover {
    color: #e5c687;
}

.Dashboard button:focus {
    outline: none;
}
