.Head {

}

.Dashboard {
    margin: 60px;
}

.Dashboard input {
    display: block;
    margin: 10px auto;
    width: 30%;
    height: 40px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.Dashboard input:focus{
    outline: none;
}

.Dashboard button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #182C61;
    border: none;
    cursor: pointer;
    transition: all .2s;
    border-radius: 8px;
    color: white;
}

.Dashboard button:hover {
    background-color: #192da0;
}

.Dashboard button:focus {
    outline: none;
}
